<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)] = "Nombre" placeholder="Ingresa el nombre"></ion-input>
  </ion-item>
  
  <ion-item>
    <p>Edad : {{age.age}} Eres : {{Eres}}</p>
  </ion-item> 


  <div class="imagen">

    <img src={{img}}>

  </div>
  
  <ion-button color = "dark" (click)="getData()" expand="full">Generar edad</ion-button>
  

  
</ion-content>
