<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Johan Ventura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>

  <img src="assets/Yo.jpg">

</div>
<!-- fab placed in the center of the content with a list on each side -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="walk"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <a href="https://wa.me/+18295397836" target="_blank"><ion-fab-button color="dark"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button></a>
    </ion-fab-list>
    <ion-fab-list side="start">
      <a href="https://github.com/jkilleran" target="_blank"><ion-fab-button color="dark"><ion-icon name="logo-github"></ion-icon></ion-fab-button></a>
    </ion-fab-list>
    <ion-fab-list side="end">
      <a href="https://www.facebook.com/johan.herrera.77312/"  target="_blank"><ion-fab-button color="dark"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button></a>
    </ion-fab-list>
  </ion-fab>


</ion-content>
